
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
  border: none;
  
  &-primary {
    background-color: $button-primary;
    color: white;
    
    &:hover {
      background-color: darken($button-primary, 5%);
    }
  }
  
  &-secondary {
    background-color: white;
    color: $text-color;
    border: 1px solid $border-color;
    
    &:hover {
      background-color: darken(white, 5%);
    }
  }
  
  &-danger {
    background-color: $button-danger;
    color: white;
    
    &:hover {
      background-color: darken($button-danger, 5%);
    }
  }

  &-outline {
    background-color: transparent;
    
    &-danger {
      border: 1px solid $button-danger;
      color: $button-danger;
      
      &:hover {
        background-color: rgba($button-danger, 0.05);
      }
    }
    
    &-primary {
      border: 1px solid $button-primary;
      color: $button-primary;
      
      &:hover {
        background-color: rgba($button-primary, 0.05);
      }
    }
  }
}
