//Sử dụng cho Component AuthBaseBase
.authPage{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    color: white;
    background: #F0F4FC;
}

.containerAuth{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    /* border-radius: 10px; */
    background: rgb(100, 100, 100);
    box-shadow: 0px 5px 35px -15px #2e2b38;
    .alert{
        width: 500px;
        top: 10px;
        right: 10px;
        position: absolute;
        z-index: 1000;
    }
    .introduceDiv{
        height: 100%;
        width: 50%;
        padding: 40px;
        flex-direction: column;
        background: #1C2B38;
        // justify-content: space-around;
        /* border-radius: 10px 0 0 10px; */
        text-align: justify;
        
        .introduceDiv--header{
            flex-grow: 1;  //Muốn canh chỉnh thì bỏ cái này
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            // padding-bottom: 50px;
            gap: 10px;
    
            h1{
                font-size: 50px;
                margin: 0;
            }
    
            h2{
                font-size: 50px;
                font-weight: bold;
                color: #FFA432;
                margin: 0;
            }
    
            p{
                font-size: 18px;
            }
            .btn--switch{
                text-decoration: none;
                padding: 0.5rem 2rem;
                width: 12rem;
                color: #ffffff;
                border-radius: 10px;
                border: 1px solid #2DB6A4;
                text-align: center;
    
            }
        }
        p {
            font-size: 1rem;
            margin: 20px 0;
            opacity: 0.8;
        }
    
        img{
            width: 100%;
            aspect-ratio: 16 / 9;
            display: block;
        }
    
    }

    .formDiv{
        flex-basis: 50%;
        height: 100%;
        margin: auto;
        color: black;
        flex-direction: column;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        
        
        &.login{
            gap: 1.5em;  
        }

        &.register{
            gap: rem;
        }
        .header--AuthForm{
            text-align: center;
            
            img{
                width: 60px;
                padding-bottom: 0.1rem;
            }
    
            h2{
                font-size: 42px;
                font-weight: bold;
            }
        } 
        .auth-form{
            width: 50%;
            gap: 0.5rem;
            span{
                text-align: center; 
            }
            .btn--submit{
                padding: 1rem 0;
                color: #FFFFFF;
                font-size: large;
                font-weight: 600;
                border-radius: 10px;
                background-color: #4461F2;
                border: none;
                cursor: pointer;
            }
        
            .btn--submit:hover{
                background-color: #0e30da;
                border: none;
                cursor: pointer;
            }
            .checkbox-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .forgotPassword{
                    font-size: 14px;
                    color: #6C737F;
                    text-decoration: none;
                    text-align: right;
                }
            }
            
            .or{
                margin: 1rem 0;
            }
           
            .switch--auth{
                margin-top: 1em;
            }
            
        
            
        }
    }
}


@media screen and (max-width: 1920px){
        .containerAuth {
            .introduceDiv {  
                padding: 40px;
                .introduceDiv--header {
                    // margin-bottom: 20px;
                    gap: 5px;
                    h1 { font-size: 40px; }
                    h2 { font-size: 40px; }
                    p { font-size: 16px; line-height: 1.5; }
                }
            }
            
            .formDiv {
                .auth-form {
                    gap: 0.1rem;
                    .btn--submit {
                        margin-top: 1rem;
                        padding: 0.8rem 0;
                    }
                 
                }    
            }  
        }
}


@media (max-width: 768px) {

    .introduceDiv {
        display: none;
    }
    .containerAuth {
        &.login{
            height: 100vh;
        }
        height: max-content;
        width: 100%;
        margin: auto;
        
        .formDiv {
            flex-basis: 100%;  
            padding: 20px 0; //Kéo dài chiều cao của formDiv để trông dư ra tí
            .introduceDiv--header {
                h2 {
                    font-size: 36px;
                    font-weight: bold;
                }
            }

            .auth-form {
                width: 90%;
                .btn--register {
                    width: 100%;
                    padding: 1rem;
                    font-size: large;
                    font-weight: 600;
                    border-radius: 10px;
                    background-color: #4461F2;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #0e30da;
                    }
                }
            }
        }
    }
}
