
.tourlist{
    margin-top: 150px;
  }
  .tourlist-container{
    
    border: 1px solid red;
  }
  
 
  
  .show-all-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin-top: 50px; /* Khoảng cách phía trên */
  }