@import '../../styles/variables';
@import '../../styles/mixin';

.searchbarContainer{
    background-color: white;
    display: flex;
    position: absolute;
    bottom: -40px; /* Giúp thanh bộ lọc nổi lên */
    transform: translateX(-50%);
    left: 50%;
    justify-content: space-between;
    align-items: center;
    width:95%;
    max-width: 1100px;
    gap: 50px;
    height: max-content;
    padding: 20px 20px;
    box-shadow: 0px 9px 15px  rgb(209,232,228);
    border-radius: 10px;
  }
  
  .searchItem{
    display: flex;
    flex-direction: column;
  }
  
  .separator {
    width: 1px;
    display: flex;
    background: #e0e0e0;
    height: 30px;
    align-self: center;
  }
  
  .searchLabel {
    font-size: 15px;
    font-weight: bold;
    color: $primary-color;
    display: flex;
  }
  
  .icon {
    width: 10px;
    color: $primary-color;
    margin-right: 10px;
  }
  
  .searchInput{
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    padding: 5px 0;
    margin-left: 20px;
    color: #707070;
    border-bottom: 1px solid #ddd;
    width: 100%;
    &:focus {
        border-bottom: 1px solid #1a1a1a;
        &::placeholder{
            color: #1a1a1a;
      }}
  }
  
  .searchButton{
    background-color: #FFDA32;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 54px;
    color: #1C2B38;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 9px 15px  rgb(255,242,183);
  }
  
  .search-button:hover {
    background: #fcda42;
  }