.tour-filter__area1{
    display: flex;
    gap: 20px;
    align-items: center;
    .tour-filter__dropdownbtn{
        display: flex;
        align-items: center;
        gap: 10px;
        flex-basis: 30%;

    }
    .tour-filter__search{
        display: flex;
        align-items: center;
        gap: 10px;
        flex-basis: 30%;
    }
}

.tour-filter__button-toolbar{
    margin-left: auto;
    gap: 5px;
    
}




  

  