.header {
  position: relative;
  // background-image: url("../../../public/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 800px;
  color: #1C2B38;
  padding: 20px 50px;
  text-align: center;
  
  .header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    .background-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    h1 {
      font-family: 'Volkhov', serif;
      // font-size: clamp(1.5rem, 3vw, 60px);
      font-size: 3rem;
      font-weight: bold;
      color: #1C2B38;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      z-index: 100;
      }
      .intro-text{
        width: 60%;
        font-size: 1rem;
      }
      
  }
}

.circle-button {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.329), 
              0 0 0 30px rgba(235, 235, 235, 0.212), 
                


}

.play-icon {
  width: 0;
  height: 0;
  border-left: 20px solid #7DAFAF; /* Màu xanh nhạt */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}


.videoArea{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  p{
      font-family: 'Mulish', sans-serif;
      margin-left: 50px;
      font-size: 24px;
      font-weight: bold;
  }
}



// @media (max-width: 1200px) {
//   .header{
//     height: 500px;

//     .header-content{
//       h1{
//         font-size: 2rem;
//       }
//     }
//   }
// }

@media (max-width: 1024px) {
  .header{
    height: 500px;

    .header-content{
      h1{
        font-size: 2rem;
      }
      .intro-text{
        width: 80%;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 768px){

  .videoArea{
    display: none;
  }
  .intro-text{
    display: none;
  }
}


@media (max-width: 576px) {
  .header{
    height: 400px;

    .header-content{
      h1{
        font-size: 1.5rem;
      }
     
    }
  }
}
