.review-filter {
    padding: 10px;
    background-color: #eef4fa;
    .filter-icon {
        font-size: 1.2rem;
        color: #000;
        font-weight: 400;
    }
    .sort-btn {
        flex-grow: 1; // Giảm kích thước xuống 0.5 phần
        max-width: 200px ; // Giới hạn chiều rộng tối đa
    }
    .filter-btn {
        flex-grow: 2 ; // Giảm kích thước xuống 0.5 phần
        max-width: 300px; // Giới hạn chiều rộng tối đa
    }
    .search-area {
        flex-grow: 5 ; // Tăng kích thước lên 8 phần
        min-width: 200px; // Đảm bảo chiều rộng tối thiểu
    }
}