// _mixins.scss

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  //Định nghĩa kiểu buttonbutton
@mixin button-style($bg-color,$border-color ,$text-color, $hover-color, $text-color-hover) {
    background-color: $bg-color;
    color: $text-color;
    border-radius: 5px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 1px solid $border-color;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $hover-color;
      color: $text-color-hover;
    }
  }
