// _variables.scss

// 🎨 Màu sắc
$primary-color: #7BBCB0;
$secondary-color: #FC7948;
$background-color: #f8f9fa;
$text-color: #333;

// 🌐 Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
