
.btn--backhome{
    position:absolute;
    text-decoration: none;
    color:#2e2b38;
    top: 5px;
    left: 5px;
    font-size: 18px;
    background-color: #2DB6A4;
    /* border-radius: 3px; */
    color: white;
    padding: 0.5rem;
}
.registerPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    color: white;
    background: #F0F4FC;
}

.containterRegister{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    /* border-radius: 10px; */
    background: rgb(100, 100, 100);
    box-shadow: 0px 5px 35px -15px #2e2b38;

    .introduceDiv{
        height: 100%;
        width: 50%;
        padding: 40px;
        flex-direction: column;
        background: #1C2B38;
        /* border-radius: 10px 0 0 10px; */
        text-align: justify;
       
    
        .introduceDiv--header{
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            margin-bottom: 50px;
            gap: 10px;
    
            h1{
                font-size: 50px;
            }
    
            h2{
                font-size: 50px;
                color: #FFA432;
            }
    
            p{
                font-size: 18px;
            }
            .btn--register{
                text-decoration: none;
                padding: 0.5rem 2rem;
                width: 12rem;
                color: #ffffff;
                border-radius: 10px;
                border: 1px solid #2DB6A4;
                text-align: center;
    
            }
        }
    
    
        p {
            font-size: 1rem;
            margin: 20px 0;
            opacity: 0.8;
        }
    
        img{
            width: 100%;
            height: 50%;
            display: block;
        }
    
    }

    .formDiv{
        flex-basis: 50%;
        height: 100%;
        margin: auto;
        color: black;
        flex-direction: column;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    
        .header--RegisterForm{
            text-align: center;
    
            img{
                width: 60px;
                padding-bottom: .5rem;
            }
    
            h2{
                font-size: 48px;
                font-weight: bold;
            }
        } 
        
        .register-form{
            width: 50%;
            gap: 1.5rem;
            span{
                text-align: center; 
            }
            
            .inputDiv{
               input{
                    width: 100%;
                    padding: 1rem;
                    margin-bottom: 0.2rem;
                    border: 1px solid #E0E0E9;
                    border-radius: 5px;
                    font-size: 1rem;
                    box-shadow: 0 10px 50px -20px rgba(68, 97, 242, 11);
                    outline: none;
                }
                label{
                    font-size: 14px;
                    font-weight: bold;
                    padding: .5rem 0;
                    display: block;
                }
                span{
                    font-size: 14px;
                    text-align: left;
                    font-weight: bold;
                    color: #e43d3d;
                    display: none;
                }
                input:invalid[focused="true"] ~ span{
                    display: block;
                }
            }
        
            .btn--register{
                padding: 1rem 0;
                color: #FFFFFF;
                font-size: large;
                font-weight: 600;
                border-radius: 10px;
                background-color: #4461F2;
                border: none;
                cursor: pointer;
            }
        
            .btn--register:hover{
                background-color: #0e30da;
                border: none;
                cursor: pointer;
            }
        
            .forgotPassword{
                font-size: 14px;
                color: #6C737F;
                text-decoration: none;
                text-align: right;
            }
        
            .footer--RegisterForm{
                text-align: center;
        
                button{
                    margin: 0 1rem;
                    padding: 0.5rem;
                    border: 2px solid #E0E0E9;
                    border-radius: 15px;
                    background-color: #FFFFFF;
                    box-shadow: 0 15px 50px -15px rgba(68, 97, 242, 11);
                    cursor: pointer;
                }
            }
        
            
        }
    }
}





@media screen and (max-width: 1920px){
    @media screen and (max-width: 1920px) {
        .containterRegister {
            .introduceDiv {  
                padding: 30px; 
                .introduceDiv--header {
                    margin-bottom: 20px;
                    gap: 5px;
                    h1 { font-size: 40px; }
                    h2 { font-size: 40px; }
                    p { font-size: 16px; line-height: 1.5; }
                }
            }
            
            .formDiv {
                gap: 0.1em;
                .register-form {
                    gap: 0.5rem;
                    .inputDiv input {
                        padding: 0.5rem;
                        box-shadow: 0px 5px 35px -15px rgba(68, 97, 242, 11);
                    }
                    .btn--register {
                        margin-top: 1rem;
                        padding: 0.8rem 0;
                    }
                    .footer--RegisterForm button {
                        padding: 0.2rem;
                        img { width: 40px; }
                    }
                }    
            }  
        }
    }
}


@media (max-width: 768px) {
    .introduceDiv {
        display: none;
    }
    .containterRegister {
        height: 100vh;
        width: 100%;
        margin: auto;

        .formDiv {
            flex-basis: 100%;      
            .header--RegisterForm {
                h2 {
                    font-size: 36px;
                    font-weight: bold;
                }
            }

            .register-form {
                width: 90%;
                
                .inputDiv {
                    width: 100%;

                    input {
                        width: 100%;
                        font-size: 1rem;    
                    }

                    label {
                        font-size: 14px;
                        font-weight: bold;
                        padding: 0.5rem 0;
                        display: block;
                    }
                }

                .btn--register {
                    width: 100%;
                    padding: 1rem;
                    font-size: large;
                    font-weight: 600;
                    border-radius: 10px;
                    background-color: #4461F2;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #0e30da;
                    }
                }

                .forgotPassword {
                    font-size: 14px;
                    color: #6C737F;
                    text-decoration: none;
                    text-align: right;
                }

                .footer--RegisterForm {
                    text-align: center;

                    button {
                        margin: 0 1rem;
                        padding: 0.5rem;
                        border: 2px solid #E0E0E9;
                        border-radius: 15px;
                        background-color: #FFFFFF;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
